$color-pink: deeppink;
$color-tirkiz: turquoise;
$color-gray: lightgray;
$color-light-gray: #f8f8f8;

$font-cute: 'Cute Font', cursive;
$font-nunito:  'Nunito', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Cute+Font|Nunito');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-cute;
}

body {
    line-height: 1.3;
    font-size: 16px;
    font-family: $font-nunito;
}

@mixin bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin button {
    padding: 15px 30px;
    border: none;
    font-size: 1.2rem;
    border-radius: 30px;
    cursor: pointer;
}

@mixin container {
    width: 90%;
    margin: auto;
}

@mixin boxShadow {
    box-shadow: 0 0 20px $color-gray;
    border: 10px solid white;
    border-radius: 5px;
}

.underline {
    display: block;
    height: 1px;
    width: 120px;
    background: $color-gray;
    margin-bottom: 20px;
}

